.photo {
    max-width: 100%;
    border-radius: 8px;
}
.title{
    margin-bottom: 0.5em;
}

.likeButton {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: 1.5em;
}

.unlikeButton {
    height: 1.5em;
    width: 1.5em;
}