body {
  box-sizing: border-box;
  display: block;
  margin:0;
  padding: 0;
  scroll-behavior: smooth;
  font-family: 'Roboto';
  background-image: url('./assets/spaceBackground.jpg');
}
h1,h2{
 color:#B2F9FC;
 line-height: 1.5;
}
p{
  color:#000000;
  font-size: 0.8rem;
}
h3{
  margin:0;
  line-height: 1;
}